<%= f.fields_for :answers do |a| %>
  <div class="answer_fields" id="answer<%= a.index %>" number="<%= a.index %>" style="display:<%= a.index > count_answer ? "none" : "" %>">
    <div class="field">
      <table class="w100">
        <tr valign="middle">
          <td width="70%"><%= a.text_field :content, class: "form-control", id: "as"+(a.index).to_s %></td>
          <td width="12%"><strong>&nbsp;&nbsp;<%= I18n.t(:correct) %>:</strong></td>
          <td width="2%"><%= a.check_box :correct %></td>
          <td><strong>&nbsp;&nbsp;<%= I18n.t(:destroy) %>:</strong></td>
          <td><%= a.check_box :_destroy, value: 0, id: (a.index).to_s %></td>
        </tr>
        <tr><td><hr></td></tr>
      </table>
    </div>
  </div>
<% end %>
