<% unless user == current_user %>
  <tr>
    <th><%= user.id %></th>
    <th><%= user.name %></th>
    <th><%= user.email %></th>
    <td align="right">
      <%= link_to I18n.t(:show), user %>
      <% if current_user.admin? %>
        |
        <%= link_to I18n.t(:edit), edit_user_path(user) %> |
        <%= link_to I18n.t(:destroy), user, method: :delete, data: {confirm: I18n.t(:are_you_sure)} %>
      <% end %>
    </td>
  </tr>
<% end %>
