<h1>Listing Users</h1>
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8" align="center">
    <% if @users.any? %>
      <table class="table table-hover w100">
        <tr>
          <th width="5%"><%= t "user.id" %></th>
          <th><%= t "user.name" %></th>
          <th><%= t "user.email" %></th>
          <td colspan="4"></td>
        </tr>
        <% @users.each do |user| %>
          <% unless user == current_user %>
            <tr>
              <th><%= user.id %></th>
              <th><%= user.name %></th>
              <th><%= user.email %></th>
              <td align="right">
                <%= link_to I18n.t(:show), user %>
                <% if current_user.admin? %>
                  |
                  <%= link_to I18n.t(:edit), edit_user_path(user) %> |
                  <%= link_to I18n.t(:destroy), user, method: :delete, data: {confirm: I18n.t(:are_you_sure)} %>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
        <tr><td colspan="4"></td></tr>
      </table>
    <% end %>
  </div>
</div>
