<% if current_user.admin? %>
  <%= render "admin/word_list", words: @words %>
<% else %>
  <%= form_for(words_path, method: "get") do |f| %>
    <h1><%= I18n.t :listing_words %></h1>
    <%= render "list_words_head", f: f %>
    <%= render "words", words: @words if @words.any? %>
  <% end %>
<% end %>
