<% unless user == current_user %>
  <tr>
    <th><%= user.id %></th>
    <th><%= user.name %></th>
    <th><%= user.email %></th>
    <td align="right">
      <%= link_to I18n.t(:show), admin_user_path(user) %> |
      <%= link_to I18n.t(:edit), edit_admin_user_path(user) %> |
      <%= link_to I18n.t(:destroy), admin_user_path(user), method: :delete, data: {confirm: I18n.t(:are_you_sure)} %>
    </td>
  </tr>
<% end %>
