<div class="row">
  <div class="col-md-3">
    <%= gravatar_for @user %>
    <h4><%= @user.name.capitalize %></h4>
    <br><br><br>
    <table class="w100">
      <tr>
        <td><%= t "user.lessons", count: @user.lessons.count %></td>
        <td><%= t "user.learned", count: Word.learned(@user).count %></td>
        <td><%= t "user.passed", count: Word.passed(@user).count %></td>
      </tr>
      <tr>
        <td><%= t "user.following", count: @user.following.count %></td>
        <td><%= t "user.followers", count: @user.followers.count %></td>
      </tr>
    </table>
  </div>
</div>
